.fade, .module__info>div:not(:last-child), .module__video>div, .overlay {
  animation: fadeIn 0.5s both 0.5s;
}

.overlay .video {
  display: none;
  animation: fadeInDown 1s both 1s;
}

.overlay.hide {
  animation: fadeOut 0.5s both 0.5s;
}

.overlay .video.hide {
  animation: fadeOutUp 1s;
}

.showup__content {
  overflow: hidden;
  white-space: nowrap; 
  transition: all 0.5s;
}
.showup__content-slider {
  /*overflow: hidden;*/
}

.showup__content-slider .card {
  display: inline-block;
  transition: all 0.5s;
  animation-duration: 0.6s;
  animation-name: fadeInLeftMod;
}

.showup__content-slider .card.hidden {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  width: 0;
  opacity: 0;
  -webkit-transform: translate3d(-331px, 0, 0);
  transform: translate3d(-331px, 0, 0);
}

.showup__content-slider .card.card-active .card__controls,
.showup__content-slider .card.card-active .card__controls .card__controls-arrow,
.showup__content-slider .card.card-active .card__title {
  opacity: 1;
}

.difference__info-cards .officer__card-item:not(.officer__card-item--show) {
  height: 0;
}

.difference__info-cards .officer__card-item.show:not(.officer__card-item--show) {
  animation: fadeInDownMod 0.6s;
}

.difference__info-cards .officer__card-item--show {
  animation-duration: 0.6s;
}

@-webkit-keyframes fadeInLeftMod {
  from {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    width: 0;
    opacity: 0;
    -webkit-transform: translate3d(-331px, 0, 0);
    transform: translate3d(-331px, 0, 0);
  }

  to {
    padding-right: 32px;
    padding-left: 32px;
    margin-right: 25px;
    width: 307px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeftMod {
  from {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    width: 0;
    opacity: 0;
    -webkit-transform: translate3d(-331px, 0, 0);
    transform: translate3d(-331px, 0, 0);
  }

  to {
    padding-right: 32px;
    padding-left: 32px;
    margin-right: 25px;
    width: 307px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftmod {
  -webkit-animation-name: fadeInLeftMod;
  animation-name: fadeInLeftMod;
}

@-webkit-keyframes fadeInDownMod {
  from {
    height: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  50% {
    height: 83px;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDownMod {
  from {
    height: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  50% {
    height: 83px;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDownMod {
  -webkit-animation-name: fadeInDownMod;
  animation-name: fadeInDownMod;
}