.fade, .module__info>div:not(:last-child), .module__video>div, .overlay {
  animation: fadeIn 0.5s both 0.5s;
}

.overlay .video {
  display: none;
  animation: fadeInDown 1s both 1s;
}

.overlay.hide {
  animation: fadeOut 0.5s both 0.5s;
}

.overlay .video.hide {
  animation: fadeOutUp 1s;
}

.showup__content {
  overflow: hidden;
}

.sliderContainer .slideItem {
  animation-duration: 0.5s;
  transition: left 0.5s;
}
.modules__info .hanson {
  animation: slideInUp 0.5s both 3s;
}

.showup__content-slider .card.active .card__controls,
.showup__content-slider .card.active .card__controls .card__controls-arrow,
.showup__content-slider .card.active .card__title {
  opacity: 1;
}

.modules__content-slider .card.active {
  padding-top: 213px;
}
.modules__content-slider .card.active .card__controls .card__controls-arrow,
.modules__content-slider .card.active .card__title,
.modules__content-slider .card.active .card__description {
  opacity: 1;
}


.difference__info-cards .officer__card-item:not(.officer__card-item--show) {
  height: 0;
}

.difference__info-cards .officer__card-item.show:not(.officer__card-item--show) {
  animation: fadeInDownMod 0.6s;
}

.difference__info-cards .officer__card-item--show {
  animation-duration: 0.6s;
}

.status {
  width: 300px;
  background-color: #9ec73d;
  margin-top: 20px;
  padding: 18px;
  border-radius: 4px;
  color: #fff;
  opacity: 1;
  transition: all 0.5s;
  animation: fadeInDown 0.6s;
}

.status.hidden {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.module__video-item {
  transition: all 0.5s;
}
.module__video-item.active {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
  opacity: .6;
}


@-webkit-keyframes fadeInDownMod {
  from {
    height: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  50% {
    height: 83px;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDownMod {
  from {
    height: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  50% {
    height: 83px;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDownMod {
  -webkit-animation-name: fadeInDownMod;
  animation-name: fadeInDownMod;
}