.fade, .module__info>div:not(:last-child), .module__video>div, .overlay {
  animation: fadeIn 0.5s both 0.5s;
}

.overlay .video {
  display: none;
  animation: fadeInDown 1s both 1s;
}

.overlay.hide {
  animation: fadeOut 0.5s both 0.5s;
}

.overlay .video.hide {
  animation: fadeOutUp 1s both 1s;
}
